nav {
  background-color: rgb(255, 227, 227);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  font-family: 'Quantico';
}

.sign-out {
  margin-left: auto;
  margin-right: 20px;
}

a:hover {
  cursor: pointer;
}